.header {
    width: 100%;
    height: 70px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    background-image: linear-gradient(183deg, var(--main) 60%, var(--contrast) );
}

.logo {
    width: 200px;
    height: 100%;
}

.menu {
    width: 100%;
    display: flex;
    
}

.menu__option {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

.menu__option:hover {
    color: var(--main);
    background-color: var(--secondary);
}

.form__search {
    display: flex;
    column-gap: 5px;
}

.search__field, .search__button {
    height: 25px;
    border-radius: 5px;
    border: none;
}

.search__field:focus {
    outline: inset 2px var(--secondary);
    outline-offset: -1px;
}

.search__button {
    width: 70px;
    background-color: var(--secondary);
    font-weight: bold;
    color: var(--main-text);
}

.search__button:hover {
    background-color: var(--contrast);
}

.footer {
    width: 100%;
    height: 40px;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    background-image: linear-gradient(3deg,#5808b3 60%, #00ddec );
}